<div class="container">
  <div class="head">
    <div class="name text-anim"><span>The NFT Space</span></div>
    <div class="title text-anim"><span>Trying to make sense of it all</span></div>
  </div>

  <div class="thumb anim-img">
    <img src="assets/img/project1-1.webp" alt="" />
  </div>
  <div class="project__list anim-gallery">
    <div class="project__item item">
      <div class="img">
        <img src="img/project1-2.webp" alt="" />
      </div>
      
    </div>
    <div class="project__item item">
      <div class="img">
        <img src="img/project1-3.webp" alt="" />
      </div>
      
    </div>
    <div class="project__item item">
      <div class="img">
        <img src="img/project1-4.webp" alt="" />
      </div>
      
    </div>
    <div class="project__item item">
      <div class="img">
        <img src="img/project1-5.webp" alt="" />
      </div>
      
    </div>
    <div class="project__item item">
      <div class="img">
        <img src="img/project1-6.webp" alt="" />
      </div>
      
    </div>
    <div class="project__item item">
      <div class="img">
        <img src="img/project1-7.webp" alt="" />
      </div>
      
    </div>
  </div>

  <div class="d-flex flex-wrap col-2">
    <div class="content">
      <div class="title">Overview</div>
      <p class="txt">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem. Ut enim
        ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
        laboriosam. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
        amet, consectetur, adipisci velit.
      </p>
    </div>

    <div class="content">
      <div class="title">Approach</div>
      <p class="txt">
        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
        impedit quo minus id quod maxime placeat. Nihil molestiae consequatur,
        vel illum qui dolorem eum. Architecto beatae vitae dicta sunt explicabo.
      </p>
    </div>
  </div>

  <div class="connect">
    <div class="title">Connect</div>
    <div class="connect__list">
      <a href="#" class="connect__link">Email</a>
      <a href="#" class="connect__link">Twitter</a>
      <a href="#" class="connect__link">Github</a>
      <a href="#" class="connect__link">Dribbble</a>
    </div>
  </div>
</div>
